<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table style="width: 30%;" border="2" cellpadding="1">
        <th:block th:each="obj: ${carzzz}">
            <tbody>
            <tr>
                <td th:text="${obj.model}"></td>
                <td th:text="${obj.color}"></td>
                <td th:text="${obj.horsePower}"></td>
            </tr>
            </tbody>
        </th:block>
    </table>


    <!--  <th:block th:each="car : ${carzzz}">-->
    <!--    <h1 th:object="${car}"></h1>-->
    <!--  </th:block>-->
</div>
</body>
</html>